@media screen and (max-width: 800px) {
    #main {
        width: 90%;
    }
}

@media screen and (max-width: 360px) {
    #search-button {
        display: block;
    }
    .show {
        margin-top: 1em;
        display: block;
    }
}